css
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #fffdf5;
  color: #333;
}

.cover, section {
  text-align: center;
  padding: 20px;
}

h1, h2, h3 {
  color: #a8832d;
}

button {
  padding: 10px 20px;
  background: #d4af37;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.galeri {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}
.galeri img {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 5px #aaa;
}
